.header-navigation {
  margin-left: 20px;

  display: flex;
}

.header-navigation__logo {
  display: flex;
  align-items: center;
}

.header-navigation__list-first {
  margin: 0;
  padding: 0;
  display: none;
}

.header-navigation__list-second {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  margin-left: auto;
}

.header-navigation__list-second-link {
  padding: 22px;
  display: flex;
}

.header-navigation__list-second-link-text {
  display: none;
}

.header-navigation__burger {
  background-color: transparent;
  border: 0;
  padding: 22px;
}
