.slider {
  background-color: @flat-white;

  @media (min-width: @tablet) {
    background: linear-gradient(@flat-white 75%, @base-white 75%);
  }

  @media (min-width: @desktop) {
    background: @flat-white;
  }
}
