.slide {
  display: flex;
  flex-direction: column;

  padding: 20px 20px 60px 20px;
  align-items: center;
  text-align: center;

  color: @base-black;

  background-color: @flat-white;

  @media (min-width: @tablet) {
    padding: 60px 20px 60px 20px;
    background: linear-gradient(@flat-white 75%, @base-white 75%);
  }

  @media (min-width: @desktop) {
    padding-top: 30px;
    flex-direction: row;
    text-align: start;
    background: @flat-white;
  }
}

.slide--lavender {
  background-color: @lavender-latte;

  @media (min-width: @tablet) {
    background: linear-gradient(@lavender-latte 75%, @base-white 75%);
  }

  @media (min-width: @desktop) {
    background: @lavender-latte;
  }
}

.slide--espresso {
  background-color: @espresso;

  @media (min-width: @tablet) {
    background: linear-gradient(@espresso 75%, @base-white 75%);
  }

  @media (min-width: @desktop) {
    background: @espresso;
  }
}

.slide__header {
  margin: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;

  margin-bottom: 10px;

  @media (min-width: @tablet) {
    font-size: 56px;
    line-height: 80px;
    margin-bottom: 16px;
  }
}

.slide__clickbait {
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: @base-primary;
  text-transform: uppercase;

  margin-bottom: 4px;
}

.slide__description {
  margin: 0;

  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  margin-bottom: 20px;

  @media (min-width: @tablet) {
    font-size: 20px;
    line-height: 32px;
  }
}

.slide__text-container {
  order: 2;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet) {
    order: 1;
    margin-bottom: 20px;
  }

  @media (min-width: @desktop) {
    order: 2;
    align-items: flex-start;
  }
}

.slide__img {
  order: 1;

  margin-bottom: 10px;

  @media (min-width: @tablet) {
    order: 2;
    width: 476px;
    height: 476px;
  }

  @media (min-width: @desktop) {
    width: 600px;
    height: 600px;

    order: 1;
  }
}

.slide__price-and-button-container {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide__price-not-relevant {
  margin-left: 25px;
}

.slide__price {
  margin-left: 6px;
}

.slide__button {
  margin-left: 20px;
}
