@base-white:rgb(255,255,255);
@base-secondary:rgb(240, 235, 255);
@base-primary:rgb(120,89,207);
@base-grey:rgb(189,189,189);
@lavender-latte:rgb(234,230,252);
@base-black:rgb(51,51,51);
@flat-white:rgb(243, 235, 225);
@espresso:rgb(229,230,232);
@lightest-grey:rgb(248,248,248);
@light-grey:rgb(226,226,226);
@primary-lighter:rgb(144,112,236);
@primary-darker:rgb(89,60,172);
/* здесь используйте глобальные переменные */
@mobile:320px;
@tablet:768px;
@desktop:1440px;

/* font-family: "Montserrat", "Arial", sans-serif; */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper () {
  margin: 0 20px;

  @media (min-width: @desktop) {
    margin: 0 40px;
  }
}
