@base-white:rgb(255,255,255);
/* здесь используйте глобальные переменные */
@mobile:320px;
@tablet:768px;
@desktop:1440px;

/*переменные для резиновой верстки*/
@mobile-width:87.5%;
@tablets-width:86.97%;
@desktop-width:91.13%;
/*миксины*/
.wrapper () {
  width: @mobile-width;
  margin: 0 auto;

  @media (min-width: @tablet) {
    width: @tablets-width;
  }

  @media (min-width: @desktop) {
    width: @desktop-width;
    max-width: 1050px;
  }
};


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
